---
import CardScroll from "./CardScroll.astro";

const { items = [], title } = Astro.props;
// items = array af kort: [{img, title, subtitle, alt_tekst}]
import Heading from "./Heading.astro";
---

<div class="w-full py-4">
  <div class="relative flex overflow-x-auto">
    <Heading style="h2">{title}</Heading>
    <div class="flex gap-4 overflow-x-auto snap-x snap-mandatory px-2">
      {
        items.map((item) => (
          <div class="snap-start">
            <CardScroll
              img={item.img}
              title={item.title}
              subtitle={item.subtitle}
              alt_tekst={item.alt_tekst}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
